$primery_color:rgb(6, 0, 61);
$second_color:rgb(201, 211, 250);
$third_color:rgb(131, 131, 131);;
$main_color:#fff;
$Sub_color:rgb(0, 0, 0);
$font_one_color:rgb(12, 0, 122);
$font_two_color:rgba(231, 0, 0, 0.849);
// $primery_color:rgb(13, 0, 133);
